

.content{
    display: flex;
    flex-wrap: wrap; 
    width: 560px;
    height: 560px;
    position: relative; 
    margin: auto;
    padding: 0px; 
    flex-basis: 560px;
    border: 2px solid black;
}

.box{
    padding: 0px;
}

.newGrid{
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 10%;
    width: 10%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px; 
    cursor: pointer;
}